
.display__info-container{

    border: 3px solid pink;
    img{
        width: 10rem;
        height: 10rem;
    }
    .red{
        color: rgb(255, 0, 0);
      }
    .green{
    color: rgb(58, 128, 0);
    }
}